go 1.24.5

use (
	./cmd/prometheus_service
	./cmd/test_code
	./cmd/tracing-service
	./cmd/utility_service

	./pkg/errors

	./pkg/general/config
	./pkg/general/logger
	./pkg/general/metrics
	./pkg/general/tracing

	./pkg/network/httpclient
	./pkg/network/middleware
	./pkg/network/tcpwriter
	./pkg/storage/sqldb
)
