go 1.24.5

use (
	./cmd/onboarding
	./cmd/prometheus_service
	./cmd/servicegenerator
	./cmd/test-service
	./cmd/test_code
	./cmd/utility_service

	./internal/handlers
	./internal/models
	./internal/repositories
	./internal/server

	./pkg/errors

	./pkg/general/config
	./pkg/general/logger
	./pkg/general/metrics
	./pkg/general/tracing

	./pkg/network/httpclient
	./pkg/network/middleware
	./pkg/network/tcpwriter
	./pkg/security/jwt
	./pkg/storage/sqldb
)
